$containerWidth: 1000px;
$carouselHeight:250px;
$searchBarHeight:48px;

* {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
   box-sizing: content-box;
}

.hide{
  display: none;
}
.show{
  display: block;
}

.navigation{
  text-align: center;
}

.public_fixedDataTable_header, .public_fixedDataTable_header .public_fixedDataTableCell_main {
  background: white none;
}

.fixedDataTableLayout_main {
  margin: 33px auto 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.pagination-container{
  text-align: center;
}

.carousel{
  width: $containerWidth;
  height: $carouselHeight;
  background-color: cadetblue;
  margin: 0 auto;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img{
  width: $containerWidth !important;
  height: $carouselHeight !important;
}

//style of the search bar
.searchBarContainer{
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
  height: $searchBarHeight;
}
.searchBar{
  list-style: none;
  width: $containerWidth;
  margin: 0 auto;
  padding: 0;
}
.searchBar>li{
  float: left;
  position: relative;
  display: inline-block;
  max-width: 70px;
  padding: 6px 35px;
  border-right: 1px dotted #fff;
  font-size: 14px;
  line-height: 36px;
  cursor: pointer;
}

.searchBar .angle-gray-down{
  position: relative;
  top: 12px;
  left: 7px;
}
.searchBar .angle-gray-up{
  position: relative;
  top:-10px;
  left: 7px;
}

.angle-gray-down {
  border: 5px solid transparent;
  border-top-color: #999;
}
.angle-gray-up{
  border: 5px solid transparent;
  border-bottom-color: #999;
}
.down-menu {
  position: absolute;
  top: $searchBarHeight;
  left: -1px;
  width: 100%;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  text-align: center;
  background-color: #fff;
  z-index: 1001;
  list-style: none;
  padding: 0;
}

.down-menu>li {
  font-size: 13px;
  line-height: 34px;
}
.down-menu>li:hover{
  color:#4090ff;
  background-color:#f9f9f9;
}